/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- */
body, td, a, p {
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    color: #000;
    opacity: .75;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

nav a {
    padding-left: 15px;
}

#nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

#googleapps {
    height: 30px;
    width: 30px;
    background-image: url(images/icons.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    opacity: .55;
    margin-left: 15px;
}

#googleapps:hover {
    opacity: .85;
}

.bluebtn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
}

nav .bluebtn {
    margin-left: 15px;
}

nav .bluebtn a {
    text-decoration: none;
}

#nav-sign-in {
    color: #fff;
    opacity: 1;
}

#googleapps, #nav-sign-in {
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


