/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- */
body, td, a, p {
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    color: #1a0dab;
    text-decoration: none;
} 

a:visited {
    color: #609;
}

a:hover, a:active {
    text-decoration: underline;
}

.center {
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

nav a {
    color: #000;
    opacity: .75;
    text-decoration: none;
    margin-left: 15px;
}

nav a:visited {
    color: #000;
}

#nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

#googleapps {
    height: 30px;
    width: 30px;
    background-image: url(images/icons.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    opacity: .55;
    margin-left: 15px;
}

#googleapps:hover {
    opacity: .85;
}

.bluebtn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
}

nav .bluebtn {
    margin-left: 15px;
}

nav .bluebtn a {
    text-decoration: none;
}

#nav-sign-in {
    color: #fff;
    opacity: 1;
    margin: 0;
}

#googleapps, #nav-sign-in {
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    max-width: 391px;
}

#form1 {
    display: flex;
    justify-content: center;
}

#search-bar {
    display: flex;
    flex-wrap: nowrap;
    border: rgb(223, 225, 229) solid 1px;
    border-radius: 24px;
    width: 482px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#text-search {
    flex-grow: 1;
    font-size: 16px;
    border: none;
    background-color: transparent;
    height: 44px;
    margin-left: 20px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
}

#google-mic {
    margin: 10px 15px 0 0;
}

#google-mic img {
    height: 24px;
    width: 24px;
    margin: auto 0;
}

#search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#search-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

#search-buttons button:hover {
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

#text-msg {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

#alt-lang {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

